1. Understanding Variables

a) Define a variable in python.provide an example  of how to create a variable that stores your name.
  Ans: It's that named location in memory that stores and manipulates data values like string,tuple etc.
   name = "nisarga" , name is a variable

b) What is difference between a variable and a constant?can we have constants in python?
 Ans: Variable : variable changes it's value depending upon equation.
      Constant:  It does not change it's value as the equation is solved.
      

2. Working with data types

a) Create variables of the following types in python:
   1. Integer
   2. Float
   3. String
   4. Boolean

1. Integer

In [8]:
year = 2025
print(year)

2025

  2. Float

In [9]:
weight = 3.14
print(weight)

3.14

 3. String

In [11]:
name = "nisarga"
print(name)

nisarga

4 . Boolean

In [12]:
my_variable = True
print(my_variable)

True

2 b) Write a python script to display the type of each variable you created.

In [13]:
r = 4
s = 7
y = "Hello, Python!"
my_variable = True
my_list = [2,3,4]
my_tuple = (5,6,7)
my_dict = {"name": "nisarga", "age": 21}
print("type of r:", type(r))
print("type of s:", type(s))
print("type of y:", type(y))
print("type of my_variable:", type(my_variable))
print("type of my_list:", type(my_list))
print("type of my_tuple:", type(my_tuple))
print("type of my_dict:", type(my_dict))

type of r: <class 'int'>
type of s: <class 'int'>
type of y: <class 'str'>
type of my_variable: <class 'bool'>
type of my_list: <class 'list'>
type of my_tuple: <class 'tuple'>
type of my_dict: <class 'dict'>

3. Arithmetic Operations

a) explain the following arithmetic operations with examples:
  1. Addition('+')
  2. Subtraction('-')
  3. Multipication('*')
  4. Division('/')
  5. floor division('//')
  6. Modulus('%')
  7. Expoentiation('')

1. Addition

In [14]:
a = 14
b = 10
print(a+b)

24

2. Subtraction

In [16]:
a = 14
b = 10
print(a-b)

4

3. Multiplication

In [17]:
a = 14
b = 10
print(a*b)

140

4. Division

In [18]:
a = 20
b = 2
print(a/b)

10.0

5. Floor Division

In [23]:
a = 110.89
b = 20.23
print(a//b)

5.0

6. Modulus

In [24]:
a = 56
b = 67
print(a%b)

56

7. Exponentiation

In [25]:
a =  120
b = 2
print(a**b)

14400

b) Write a python script to calculate the area of a rectangle using variables 'length' and 'width' with value 5and10,respectively.use the multiplication operator.

In [26]:
length = 5
width = 10
area = length*width
print("area of the rectangle:",area)

area of the rectangle: 50

4. comparision and logical operators

a) Explain the following comparison operators with examples:
 1. Equal to('==')
 2. Not equal('!=')
 3. Greater than('<')
 4. less than('>')
 5. greater than or equal to('>=")
 6. less than or equal to('<=')

1. Equal to

In [28]:
a = 2
b = 2
print(a==b)

True

2. Not equal to

In [29]:
a = 3
b = 4
print(a!=b)

True

3. Greater than

In [31]:
a = 10
b = 8
print(a>b)

True

4. Less than

In [33]:
a = 10
b = 41
print(a<b)

True

5. Greater than or equal to

In [34]:
a = 400
b = 300
print(a>=b)

True

6. less than or equal to

In [35]:
a = 500
b = 1000
print(a<=b)

True

b) Using logical operations ('and','or','not'),write a python script that checks if a number is positive andeven

In [40]:
num = int(input("enter a number:"))
if num>0 and num%2 == 0:
   print("the number is positive and even.")
else:
    print("the number is not positive and even.")

enter a number:20
the number is positive and even.

5. Type casting in Python

a)What is type casting?Explain the difference between implicit and explicit type casting with examples.
 Ans: It convert variable data type into certain data type.

   Implicit:value of one data type is automatically converted to another data type, without explicit casting.
   
   Explicit: When a value is explicitly converted from one data type to another using a casting operator.

b) Write a python script that:
 1. Converts a float to an integer.
 2. Converts an integer to a string.
 3. Converts a string to a float

1. Converts a float to an integer.

In [41]:
float_num = 3.14
int_num = int(float_num)
print(int_num)

3

2. Converts an integer to a string.

In [44]:
int_num = 10
str_num = str(int_num)
print(str_num)

10

3. Converts a string to a float

In [45]:
str_num = 200
float_num = float(str_num)
print(float_num)

200.0

6. Write a python script that  asks the user to input tow numbers and then:

a. Add the two numbers and prints the result.

b. Subtracts the second number from the first and prints the results.

c. Multiplies the two numbers and prints the results.

d. divides the first number by the second and prints the result(handle division by zero).

e. converts the sum of the numbers to a string and prints the type og the results.

 1. Add the two numbers and prints the result.

In [47]:
num1 = 500
num2 = 1000
result = num1 + num2
print("the result is :",result)

the result is : 1500

2. Subtracts the second number from the first and prints the results.

In [48]:
num1 = 200
num2 = 100

result = num1 - num2
print("the result is:",result)

the result is: 100

3. Multiplies the two numbers and prints the results.

In [49]:
num1 = 200
num2 = 100
result = num1 * num2
print("the result is:",result)

the result is: 20000

4. divides the first number by the second and prints the result(handle division by zero).

In [69]:
num1 =  10.0
num2 = 0.0
try:
    result = num1 / num2
    print("The result is:", result)
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")

Error: Division by zero is not allowed.

5. converts the sum of the numbers to a string and prints the type of the results.

In [70]:
num1 = 5.0
num2 = 3.5
sum_result = num1 + num2
sum_str = str(sum_result)
print("The sum as a string is:", sum_str)
print("The type of the result is:", type(sum_str))

The sum as a string is: 8.5
The type of the result is: <class 'str'>